// Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import 'bootstrap/scss/bootstrap';

.fa,.fas,.far,.fal,.fad{
    /* margin-right: 4px; */
}
.calendars-list{
    display: flex;
    flex-wrap: wrap;
    .page-item{
        max-width: 25%;
        min-width: 25%;
    }
}

.pagination-month .page-item .page-month {
    font-size: 1rem;
    font-weight: 400;
}

.table.client-table tr>td .progress{
    margin-top: 9px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #007bff;
}

.data-total{
    float: right !important;
    padding-right: 0.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 4px;
    i{
        font-size: 0.85rem;
    }
}
.few-days{
    background-color: #ffeded;
}
.many-days{
    background-color: #ddf3ff;
}

#reportrange{
    border: 1px solid #dddddd;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 11px;
    background: #f8f9fa;
    display: none;
}

.layout-top-nav .wrapper .main-header .brand-image{
    margin-right: -1px;
    margin-top: -2px;
}
.login-logo img{
    margin-top: -5px;
    margin-right: -5px;
}
.b600{
    font-weight: 600; color: inherit;
}
.user_active_0{
    color: #c5c5c5;
    text-decoration: line-through;
}

.user-photo-preview{
    filter: grayscale(1);
    mix-blend-mode: multiply;
    height: 120px !important;
    width: 120px !important;
    max-width: 120px !important;
    max-height: 120px !important;
    object-fit: cover;
    border-radius: 50%;
}
.user-logo-preview{
    max-width: 120px !important;
    max-height: 120px !important;
}
.worker-avatar{
    filter: grayscale(1);
    mix-blend-mode: multiply;
    height: 78px !important;
    width: 78px !important;
    max-width: 78px !important;
    max-height: 78px !important;
    object-fit: cover;
}
@media only screen and (max-width: 1199px) and (min-width: 460px)  {
    .worker-avatar{
        height: 90px !important;
        width: 90px !important;
        max-width: 90px !important;
        max-height: 90px !important;
    }
}
.avatar-small{
    filter: grayscale(1);
    mix-blend-mode: multiply;
    height: 32px !important;
    width: 32px !important;
    max-width: 32px !important;
    max-height: 32px !important;
    object-fit: cover;
}
.client-avatar,
.manager-avatar{
    //filter: grayscale(1);
    border-radius: 0;
    mix-blend-mode: multiply;
    max-height: 90px;
    max-width: 90px;
    width: 100%;
}

#daterange-btn{
    margin-right: 17px;
    margin-bottom: 12px;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 300px !important;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #cee5ff;
    color: #1f2d3d;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    width: 100%;
    white-space: normal;
    line-height: 110%;
    padding-top: 7px;
    padding-bottom: 7px;
}

.preloader {
    background-color: rgb(244 246 249 / 75%);
}

.worker_positon,
.ano{
    color: #c5c5c5;
    font-style: italic;
    font-size: .9rem;
    margin-left: .3rem;
}

.setFee-btn{
    font-size: .85rem;
}


.select2-results__option {
    padding-right: 20px;
    vertical-align: middle;
}
.select2-results__option:before {
    content: "";
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border: 2px solid #e9e9e9;
    border-radius: 4px;
    background-color: #fff;
    margin-right: 20px;
    vertical-align: middle;
}
.select2-results__option[aria-selected=true]:before {
    color: #fff;
    background: #007bff url(/public/img/check-mark-svgrepo-com.svg) center center/14px no-repeat;
    border: 0;
    display: inline-block;
    padding-left: 3px;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eaeaeb;
    color: #272727;
}
.select2-container--default .select2-selection--multiple {
    margin-bottom: 10px;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-radius: 4px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #007bff;
    border-width: 2px;
}
.select2-container--default .select2-selection--multiple {
    border-width: 2px;
}
.select2-container--open .select2-dropdown--below {

    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.select2-selection .select2-selection--multiple:after {
    content: 'hhghgh';
}
/* select with icons badges single*/
.select-icon .select2-selection__placeholder .badge {
    display: none;
}
.select-icon .placeholder {
    display: none;
}
.select-icon .select2-results__option:before,
.select-icon .select2-results__option[aria-selected=true]:before {
    display: none !important;
    /* content: "" !important; */
}
.select-icon  .select2-search--dropdown {
    display: none;
}




@media only screen and (max-width: 768px)  {
    .navbar-expand .navbar-toggler{
        display: block !important;
    }
    .navbar-expand .navbar-collapse:not(.show){
        display: none !important;
    }
    .navbar-expand .navbar-collapse{
        order: 4;
    }
    .navbar-expand>.container{
        flex-wrap: wrap;
    }
    .main-header .navbar-nav .nav-item{
        width: 100%;
    }
}

.show_clients_marginality{
    color: #272727;
    border-bottom: 1px dashed #272727;
    &:hover{
        border-color: #007bff;
    }
}
